# Dossiers des environnements virtuels
venv/
.env/
.venv/

# Fichiers de configuration des environnements virtuels
pip-log.txt
pip-delete-this-directory.txt

# Cache Python
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# Base de données SQLite
*.sqlite3
*.db

# Fichiers de test et couverture de code
.coverage
htmlcov/
*.cover
*.py,cover

# Configuration d’éditeur (VS Code, PyCharm, etc.)
.vscode/
.idea/
*.iml

# Docker
.dockerignore

# Dépendances installées (si présentes)
site-packages/

# Clés et secrets (⚠️ à ne jamais committer)
*.pem
*.key
.env

requirements.txt
tmp


